<a href="https://colab.research.google.com/github/PranavAtyeti/py_practice/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Lists: Creation, indexing, slicing, methods, comprehensions.

2.Tuples: Immutable sequences.

3.Sets: Unordered collections with unique elements.

4.Dictionaries: Key-value pairs.

5.Strings: Immutability, slicing, methods.

6.Built-in Functions: len(), sum(), min(), max(), etc.

# Lists

In [15]:
# List - mutable, can contain multiple datatypes

#List creation

lst = [1,2,3,4,"abc"]

#tuple to list
lst2 = list((1,2,3,4,"efg"))

print(lst,lst2)

[1, 2, 3, 4, 'abc'] [1, 2, 3, 4, 'efg']

In [11]:
#indexing

lst[2]

3

In [12]:
#slicing

lst[1:]

[2, 3, 4, 'abc']

In [13]:
#list methods

lst.append("new element")

lst.remove(3)

lst

[1, 2, 4, 'abc', 'new element']

In [14]:
#list comprehensions

lst3 = [x**2 for x in range(6)]
lst3

[0, 1, 4, 9, 16, 25]

# Tuple

In [20]:
# Tuples - Immutable, can contain multiple datatypes, faster than lists, ordered

#tuple creation

tup1 = (1,2,3,4)

print(tup1)

tup1[2]

(1, 2, 3, 4)

3

In [22]:
tup1[2] = 9  #immutable

TypeError: 'tuple' object does not support item assignment

# Sets

In [28]:
#Set - Unordered, remove duplicates
#set creation

set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [29]:
# Set Methods

set1.add(6) #used to add single element
set1.update([7,8]) #used to add multiple elements
set1.remove(1)

print(set1)

{2, 3, 4, 5, 6, 7, 8}

In [33]:
#set operations

a= {1,2,3,4}
b= {3,4,5,6}

print(a&b) #includes common element
print(a|b) #includes all element
print(a-b) #removes common element from a or left set

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}

# Dictionaries

In [39]:
#creating a dictionary
Pranav = {"name":"Pranav", "age":23}

print(Pranav)

#accesing value by key
print(Pranav["age"])

{'name': 'Pranav', 'age': 23}
23

In [41]:
#add new element

Pranav["city"] = "Pune"
print(Pranav)

{'name': 'Pranav', 'age': 23, 'city': 'Pune'}

In [42]:
#update existing element

Pranav["age"]= 25
print(Pranav)

{'name': 'Pranav', 'age': 25, 'city': 'Pune'}

In [46]:
# dictionary methods
print(Pranav.keys())

print(Pranav.values())

print(Pranav.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Pranav', 25, 'Pune'])
dict_items([('name', 'Pranav'), ('age', 25), ('city', 'Pune')])

# Strings

In [50]:
str1 = "Hello World" #string creation
str1

'Hello World'

In [49]:
str1[2] = "H"  #Immutability

TypeError: 'str' object does not support item assignment

In [64]:
#slicing
print(str1[1:7])
word = "ell"

for i in range(len(str1)):
  if str1[i:i+3] == word:
    print("match found")

ello W
match found

In [55]:
#str methods
print(str1.upper())
print(str1.title())
print(str1.lower())

HELLO WORLD
Hello World
hello world

# Built in methods

In [68]:
lst4 = [2,1,3,4,5,7,6]

print(len(lst4))
print(sum(lst4))
print(min(lst4))
print(max(lst4))
print(sorted(lst4))

7
28
1
7
[1, 2, 3, 4, 5, 6, 7]

ZeroDivisionError: integer modulo by zero